.movie-header {
  position: relative;
  z-index: 2;
  top: 0;
  width: 100%;
  min-height: 200px;

  > h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 1rem;
    margin-left: 0.5rem;
    font-size: 2em;
    color: #fff;
    background: rgba(0, 0, 0, 0.356);
  }
  .content {
    position: relative;
    max-height: 400px;
    img {
      width: 100%;
    }
  }
  .ant-carousel {
    background: #364d79;
  }
}
